# --- Configurações de Identidade do Banco ---
DB_USER=postgres
DB_PASSWORD=hospedafe
DB_NAME=hospedafe
DB_HOST=database
DB_PORT=5432

# --- URL de Conexão (Interpolação de Variáveis) ---
# Adicionamos '+psycopg2' para garantir que o SQLAlchemy use o driver correto
DATABASE_URL=postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# --- Configurações do pgAdmin ---
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin123